  <div class="backgroundpic">
    <div class="containerBlock">
      <div class="mainText">
        <h1>Make Your Own Project</h1>
        <% if user_signed_in? %>
            <a class="button-mainText" href="<%= new_post_path %>">Get started</a>
        <% else %>
            <p>You have to <a href="<%= new_user_session_path %>">Sign in</a> to  pledge</p>
        <% end %>
      </div>
    </div>
  </div>

<!-- bottom bar -->

  <div class="supportingBlock">
    <div class="containerBlock">

      <div class="colBlock">
        <img src="https://image.freepik.com/free-icon/person-reading-book_318-29353.jpg">
        <h2>Study</h2>
        <p>Study And Plan On How To Make Your Project</p>
      </div>

      <div class="colBlock">
        <img src="http://image.flaticon.com/icons/svg/50/50711.svg">
        <h2>Demonstrate </h2>
        <p>Prepare Your project And Present It To Other People.</p>
      </div>

      <div class="colBlock">
        <img src="https://viewfromthegravytrain.files.wordpress.com/2014/01/icon_14894.png">
        <h2>Kick-Start</h2>
        <p> Use The Funding To Achieve Your Plans </p>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
