html, body {
  width: 100%
  height:100%;
  margin: 0;
  padding: 0;
}

.containerBlock {
  min-width: 1000px;
  max-width: 1850px;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px;
}
/*.contentBlock {
  margin-top: 50px;
}*/
/*navigation bar*/

.headerBlock {
  background-color: rgb(28,27,25);
}

.navBlock {
  list-style-type:circle;
  margin: 0;
  padding: 12px 0;
}

.navBlock li {
  color: white;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 100px;
  text-transform: uppercase;
}

/*the grey color on the top*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px 50px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active  {
    background-color: slategray ;

}

.backgroundpic {
  background: url(http://photos.wikimapia.org/p/00/01/77/34/44_big.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
}
.postsBlock {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
}

.posts {
  display: inline-block;
  margin: 40px 2% 80px 2%;
  text-align: center;
  width: 45%;
}
.postTitle {
  background-color: black;
  color: rgba(255,249,231,0.9);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding :1% 0%;

}
.buttonPost {
  background-color: rgb(22,196,29);
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  padding: 16px 40px;
  border: 2px solid rgba(15, 19, 20, 0.3);
  text-decoration: none;
}
 h2 {
  color: white;
  font-family: 'Raleway',  sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  top:  1px;
}
 h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
 .posts h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}
 p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/*end of background*/

.supportingBlock {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supportingBlock .colBlock {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supportingBlock img {
  height: 32px;
}

.supportingBlock h2 {
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}

.supportingBlock p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.mainText {
  position: relative;
  top: 180px;
  text-align: center;
}

.mainText h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  position: relative;
  top:  60px;
}

.button-mainText {
  background-color: steelblue;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top:  60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  position: fixed;
  top: 95%;
  width: 100%;
  margin-top: 20px;
}
/*.panel-heading {
    background-color: #333!important;
}*/
.alert {
  margin-bottom: 0 !important;
}
.footerBlock {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
}
